* {
  margin: 0%;
  padding: 0%; }

.navbar {
  position: sticky;
  top: 0px;
  background-color: #fc4a1a;
  z-index: 999; }

.nav-item a:hover {
  color: #a0a0a0; }

.nav-link {
  color: #ffffff; }

.boton, .btn, .form-control, .tarjeta-footer button, .tarjeta-footer button:hover {
  border: #000000 solid 1px; }

.btn {
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000; }

.container-img img {
  width: 70px; }

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: flex-start; }

p {
  font-family: 'Open Sans', sans-serif; }

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #4abdac;
  text-decoration: dashed;
  font-size: 32px;
  color: #ffffff;
  font-size: 3em;
  margin-bottom: 0%; }

.titulos-h2 {
  text-align: center;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 16px;
  margin-top: 0%;
  background-color: #dfdfdf; }

#h1-inicio {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #4abdac;
  text-decoration: dashed;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  margin: 0%; }

#h2-inicio {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #4abdac;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
  margin: 0%; }

main {
  background-color: #dfdfdf;
  padding-bottom: 32px; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around; }

iframe {
  width: 560px; }

.col-12 h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center; }

.tarjeta {
  grid-area: tarjeta;
  width: 300px;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  transition: all; }

.tarjeta:hover {
  box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.5); }

.tarjeta-imagen img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 300px; }

.tarjeta-cuerpo h2 {
  text-align: center; }

.tarjeta-cuerpo p {
  text-align: justify;
  margin-bottom: 10px;
  padding: 5px; }

.tarjeta-footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.tarjeta-footer button {
  width: 150px;
  background: #000000;
  color: #ffffff;
  border-radius: 16px;
  padding: 6px;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s; }

.tarjeta-footer button:hover {
  background-color: #ffffff;
  color: #000000; }

.tarjeta-cuerpo p span {
  font-size: small; }

footer {
  background-color: #dfdfdf; }

.contenedor-footer {
  width: auto;
  height: max-content;
  padding-top: 50px;
  background-color: #4abdac;
  color: #ffffff;
  display: grid;
  grid-template-areas: "entrega operador abierto24" "suscribete suscribete suscribete" "recomendaciones recomendaciones recomendaciones";
  justify-items: stretch; }

.footer-suscribete {
  grid-area: suscribete;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #fc4a1a; }
  .footer-suscribete input {
    width: 100%;
    font-size: small;
    padding: 11px 16px;
    margin-bottom: 16px;
    border: #000000 solid 2px;
    text-align: center; }
  .footer-suscribete button {
    width: 100%;
    font-size: large;
    font-weight: bold;
    margin-bottom: 32px; }
  .footer-suscribete button:hover {
    box-shadow: 20px 20px 20px 10px rgba(0, 0, 0, 0.5); }

.footer-entrega {
  display: flex;
  grid-area: entrega;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 100px; }

.footer-entrega img {
  width: 120px; }

.footer-entrega p {
  width: 250px;
  text-align: start; }

.footer-operador {
  display: flex;
  grid-area: operador;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 100px; }

.footer-operador img {
  width: 120px; }

.footer-operador p {
  width: 120px;
  text-align: center; }

.footer-abierto24 {
  display: flex;
  grid-area: abierto24;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  margin: 100px; }

.footer-abierto24 img {
  width: 120px; }

.footer-abierto24 p {
  width: 120px;
  text-align: center; }

.footer-recomendaciones {
  background-color: #4abdac;
  color: #ffffff;
  font-size: medium;
  text-align: center;
  grid-area: recomendaciones;
  padding: 20px; }

@media screen and (max-width: 1200px) {
  .contenedor-footer {
    grid-template-areas: "entrega operador" "abierto24 abierto24" "suscribete suscribete" "recomendaciones recomendaciones"; }
  iframe {
    width: 560px; } }

@media screen and (max-width: 800px) {
  .contenedor-footer {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column; }
  iframe {
    width: 80%; } }

@media screen and (max-width: 320px) {
  iframe {
    width: 100%; } }
